/*
  Copyright 2023-2024 Robert Kidd

  This file is part of AGuide Viewer.

  AGuide Viewer is free software: you can redistribute it and/or
  modify it under the terms of the GNU General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  AGuide Viewer is distributed in the hope that it will be useful, but
  WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with AGuide Viewer. If not, see
  <https://www.gnu.org/licenses/>.
*/

body.os3 {
    font-family: monospace;
    --aguide-text-color: #000000;
    --aguide-background-color: #aaaaaa;
    --aguide-fill-color: #6688bb;
    --aguide-highlight-color: #ffffff;
    --aguide-shine-color: #ffffff;
    --aguide-shadow-color: #000000;

    --aguide-link-border-top-left: 2px solid var(--aguide-shine-color);
    --aguide-link-border-bottom-right: 2px solid var(--aguide-shadow-color);
    --aguide-link-border-top-left-active: 2px solid var(--aguide-shadow-color);
    --aguide-link-border-bottom-right-active: 2px solid var(--aguide-shine-color);
    --aguide-link-text-color: #000000;
    --aguide-link-text-decoration: none;

    --aguide-button-border-top-left: 2px solid var(--aguide-shine-color);
    --aguide-button-border-bottom-right: 2px solid var(--aguide-shadow-color);
    --aguide-button-border-top-left-active: 2px solid var(--aguide-shadow-color);
    --aguide-button-border-bottom-right-active: 2px solid var(--aguide-shine-color);
    --aguide-button-text-color: #000000;
    --aguide-button-text-decoration: none;
}

body.native {
    font-family: monospace;
    --aguide-text-color: revert;
    --aguide-background-color: revert;
    --aguide-fill-color: #dddddd;
    --aguide-highlight-color: revert;
    --aguide-shine-color: revert;
    --aguide-shadow-color: revert;

    --aguide-link-border-top-left: revert;
    --aguide-link-border-bottom-right: revert;
    --aguide-link-border-top-left-active: revert;
    --aguide-link-border-bottom-right-active: revert;
    --aguide-link-text-color: revert;
    --aguide-link-text-decoration: revert;

    --aguide-button-border-top-left: 1px solid var(--aguide-text-color, );
    --aguide-button-border-bottom-right: 1px solid var(--aguide-text-color, );
    --aguide-button-border-top-left-active: 1px solid var(--aguide-text-color, );
    --aguide-button-border-bottom-right-active: 1px solid var(--aguide-text-color, );
    --aguide-button-text-color: revert;
    --aguide-button-text-decoration: revert;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

div.about {
    border-top: var(--aguide-button-border-top-left);
    border-left: var(--aguide-button-border-top-left);
    border-right: var(--aguide-button-border-bottom-right);
    border-bottom: var(--aguide-button-border-bottom-right);
    padding: 10px;
    width: 50%;
    height: 50%;
    z-index: 2147483648;
    background-color: var(--aguide-background-color);
    position: fixed;
    left: 25%;
    top: 25%;
    overflow-y: scroll;
}

div.help {
    visibility: hidden;
    position: absolute;
    background-color: lightyellow;
    padding: 0.5em;
    left: 4em;
    border: 1px solid black;
}

.has-help:hover + div.help {
    visibility: visible;
    transition-delay: 1s;
}

.has-help:hover + div.fasthelp {
    visibility: visible;
    transition-delay: 0s;
}

div.prefs {
    overflow: hidden;
    --aguide-prefs-height: 18em;
    height: var(--aguide-prefs-height);
}

iframe.prefs {
    width: 100%;
    height: 100%;
}

a.ag {
    border-top: var(--aguide-link-border-top-left);
    border-left: var(--aguide-link-border-top-left);
    border-right: var(--aguide-link-border-bottom-right);
    border-bottom: var(--aguide-link-border-bottom-right);
    color: var(--aguide-link-text-color, revert);
    text-decoration: var(--aguide-link-text-decoration);
    line-height: 1.4;
    display: inline-block;
}

a.ag:active {
    border-top: var(--aguide-link-border-top-left-active);
    border-left: var(--aguide-link-border-top-left-active);
    border-right: var(--aguide-link-border-bottom-right-active);
    border-bottom: var(--aguide-link-border-bottom-right-active);
    background-color: var(--aguide-fill-color);
}

.button, input.checkbox {
    border-top: var(--aguide-button-border-top-left);
    border-left: var(--aguide-button-border-top-left);
    border-right: var(--aguide-button-border-bottom-right);
    border-bottom: var(--aguide-button-border-bottom-right);
    color: var(--aguide-button-text-color);
    text-decoration: var(--aguide-button-text-decoration);
    line-height: 1.4;
    display: inline-block;
}

.button:active, input.checkbox:active {
    border-top: var(--aguide-button-border-top-left-active);
    border-left: var(--aguide-button-border-top-left-active);
    border-right: var(--aguide-button-border-bottom-right-active);
    border-bottom: var(--aguide-button-border-bottom-right-active);
    background-color: var(--aguide-fill-color);
}

.b {
    font-weight: bold;
}

.i {
    font-style: italic;
}

.u {
    text-decoration-line: underline;
}

.fg_text {
    color: var(--aguide-text-color);
}

.fg_shine {
    color: var(--aguide-shine-color);
}

.fg_shadow {
    color: var(--aguide-shadow-color);
}

.fg_fill {
    color: var(--aguide-fill-color);
}

.fg_filltext {
    color: var(--aguide-text-color);
}

.fg_back {
    color: var(--aguide-background-color);
}

.fg_highlight {
    color: var(--aguide-highlight-color);
}

.bg_text {
    background-color: var(--aguide-text-color);
}

.bg_shine {
    background-color: var(--aguide-shine-color);
}

.bg_shadow {
    background-color: var(--aguide-background-color);
}

.button:active, input.checkbox:active, .bg_fill {
    background-color: var(--aguide-fill-color);
}

.bg_filltext {
    background-color: var(--aguide-background-color);
}

div.toolbar, body, .bg_back, .button, input.checkbox {
    background-color: var(--aguide-background-color);
}

.bg_highlight {
    background-color: var(--aguide-highlight-color);
}

input[type="file"] {
    display: none;
}

div.toolbar {
    position: fixed;
    width: 100%;
    height: 1.5em;
    top: 0;
    left: 0;
    padding: .5em;
}

div.aguide {
    padding-top: 2em;
}
